.our-speciality {
    position: relative;
    background: #4097DB;
    padding: 20px;

    @media(min-width:768px){
        padding: 100px;
    }

    .container {
        background: #fff;
    }

    .box-our-speciality-title {
        @media(min-width:768px){
            display: block;
            width: 50%;
            margin: auto auto;
        }
        .title {
            font-size: 36px;
            color: #4097DB;
            font-weight: 500;
            margin-top: 60px;
        }
    }

    .slider-our-speciality {
        @media(min-width:768px){
            margin: auto auto;
            height: 400px;
        }
        padding-top: 90px;
        position: relative;
        height: 450px;
        overflow: hidden;
        width: 400px;
        margin: auto;
        &:before {
            content: "";
            width: 113px;
            height: 236px;
            z-index: 999;
            top: 0px;
            background: linear-gradient(to right, rgb(255 255 255) 0%, rgb(255 255 255) 0%, rgba(0, 0, 0, 0) 100%);
            position: absolute;
        }

        &:after {
            content: "";
            width: 113px;
            height: 236px;
            z-index: 999;
            top: 0px;
            background: linear-gradient(to left, rgb(255 255 255) 0%, rgb(255 255 255) 0%, rgba(0, 0, 0, 0) 100%);
            position: absolute;
            right: 0px;
        }

        .box-slider-our {
            display: block;

            img {
                height: calc(50vh - 50%) !important;
                width: auto !important;
                margin: 0 auto;
                // width: 90px;
            }

            h3 {
                font-size: 16px;
                color: #000;
                font-weight: 550;
                margin-top: 15px;
                text-align: center;

            }
        }

        .text-slick {
            margin-top: 15px;
            font-size: 14px;
            color: #A7A7A7;
            font-weight: 500;
        }

        .slick-arrow {
            position: absolute;
            bottom: -50px;
            top: auto;
            background-color: #FFF;
            height: 35px;
            width: 35px;
            z-index: 99;

            &.slick-next {
                left: auto;
                right: 0px;

                &:before {
                    font-family: auto;
                    color: #3D46A2;
                }

                &:hover {
                    background-color: #029FE4;
                }
            }

            &.slick-prev {
                //right: 45px;
                left: 0px;
                background-color: #FFF;

                &:before {
                    font-family: auto;
                    color: #B6B6B6;
                }

                &:hover {
                    background-color: #F1F1F1;
                }
            }


        }
    }

    .slick-dots {
        li {
            button {
                background: #DAF3FC !important;
                border-radius: 50px;
                height: 18px;
                width: 19px;
                padding: 0px;

                &:before {
                    color: #DAF3FC;
                    opacity: 1;
                }
            }

            &.slick-active {
                button {
                    background: #3D46A2 !important;
                    height: 18px;

                    &:before {

                        font-size: 14px;
                        opacity: 1;
                        color: #fff;
                    }
                }
            }
        }
    }

}