@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Public+Sans:ital,wght@0,300;0,700;1,400&display=swap');

body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  overflow-x: hidden;
}


