.banner {
    position: relative;

    .banner-size {
        height: 600px;
        width: 100%;
        object-fit: cover;
        z-index: -2;

        @media(max-width:768px) {
            height: 500px;
        }
    }

    .overlay {
        background-color: #4097db;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;
        padding: 20px;
        height: 100%;

        @media(max-width:768px) {
            position: relative;
            width: 100%;
            height: 300px;
        }

        &:before {
            content: url(../../asset/banneroverlay.svg);
            width: 600px;
            height: 100%;
            left: -100px;
            top: 0;
            position: absolute;
            transform: rotate(-90deg);

            @media(max-width:768px) {
                transform: rotate(0deg);
                width: 100%;
                height: 600px;
                overflow: hidden;
                position: absolute;
                top: -120px;
                left: 0;
                //      z-index: -1;
            }

            @media(max-width:768px) {
                top: -100px;
            }
        }

        .box-title-thumb {
            @media(min-width:769px){
                margin-top: 20%;
            }
            .title {
                position: absolute;
                z-index: 99;
                display: block;
                overflow: hidden;
            }
        }
    }


}

.center {
    position: relative;
    display: flex;
    margin-top: -15px;

    a {
        margin: auto auto;
    }
}
